.background{
    -fx-background-color: -fx-primary-main;
}

.button{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-sceondary-main;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-text-fill: -fx-primary-support;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: -fx-primary-support;
}

.field-box{
    -fx-background-color: transparent;
}

.text-field {
    -fx-font-size: 1.2em;
    -fx-text-fill: -fx-sceondary-main;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent -fx-sceondary-main transparent;
}

.label {
    -fx-text-fill: -fx-sceondary-main;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-font-size: 1.2em;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: -fx-primary-support;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
}

.combo-box .list-cell{
    -fx-text-fill: -fx-sceondary-main;
}

.combo-box .list-view{
    -fx-background-color: transparent;
}

.combo-box .arrow{
    -fx-background-color: -fx-primary-support;
}

.combo-box-popup .list-cell {
    -fx-font-weight: normal;
    -fx-background-color: -fx-primary-main;
    -fx-text-fill: -fx-sceondary-main;
}

.combo-box-popup .list-cell:hover {
    -fx-text-fill: -fx-primary-support;
}