.background{
    -fx-background-color: -fx-primary-main;
}

.footer{
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-primary-support;
}

.main-button {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-secondary-support;
    -fx-background-color: transparent;
}

.main-button:hover {
    -fx-text-fill: -fx-primary-support;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: -fx-primary-support;
}