.background{
    -fx-background-color: -fx-primary-main;
}

.menu-button {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-secondary-support;
    -fx-background-color: transparent;
}

.menu-button:hover {
    -fx-text-fill:  -fx-primary-support;
}



.info-container{
    -fx-background-color: -fx-primary-main;
}

.label{
    -fx-font-size: 1.2em;
    -fx-text-fill: -fx-secondary-support;
}

.text-field{
    -fx-font-size: 1.2em;
    -fx-text-fill: -fx-secondary-support;
    -fx-background-color: transparent;
}
